<div class="ui one column centered grid">
    <div class="valigned">
        <img src="/images/semquery_logo_nofill_white.png" class="llogo"></img>
        <br>
        <div class="main-search ui massive icon input">       
            <input class="stxt" type="text" placeholder="Search 15,384 files" />
            <i class="sbtn search icon" style="margin-right: 10px"></i>
        </div>
        <br>
        <br>
        Try these:
        <ul class="ui list">
            <li><code>definition(name: "test")</code></li>
            <li><code>local_var(type: "byte[]")</code></li>
            <li><code>then { empty }</code></li>
        </ul>
    </div>

</div>
