<html>
    <head>
        <title>SemQuery</title>
        <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/semantic-ui/2.1.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <div class="ui secondary pointing menu navigation">
            <img src="/images/logo.png" class="logo ui avatar image"></img>
            <div class="search ui transparent icon input">
                <input type="text" class="stxt" placeholder="search repostiory">
                <i class="sbtn search link icon"></i>
            </div>
            <div class="right menu">
                {{ if eq .loggedin "true" }} 
                    <img src="{{ .avatar }}" class="picture ui avatar image"></img>
                    <a class="active item account" href="">{{ .username }}</a>
                    <a class="item" href="/logout">Logout</a>
                {{ else }}
                    <a class="item account" href="/login">Login</a>
                {{ end }}
            </div>
        </div>
        <!-- Currently searching <repo name> -->
        <div class="ui icon message transparent">
          <i class="find icon"></i>
          <div class="content">
            <div class="header">
              {{ //come thru w that repo name }}
            </div>
            <p>Currently Searching</p>
          </div>
        </div>
        <!-- Search box (larger than life) -->
            <div class="ui massive left icon input sbox message">
              <input type="text" placeholder="Search...">
              <i class="search icon"></i>
            </div>
        <!-- Search results -->
        <div class="ui segment floop">
          <p>hey here's some shit you searched for</p>
        </div>
        <div class="ui segment floop">
          <p>hey here's some more</p>
        </div>
        <div class="ui segment floop">
          <p>even more!!!1! just for u</p>
        </div>
    </body>
</html>
