<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/semantic-ui/2.1.3/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="ui secondary pointing menu navigation">
            {{ if eq .loggedin "true" }} 
            <img src="{{ .avatar }}" class="picture ui avatar image"></img>
            <a class="active item account" href="">{{ .username }}</a>
            <div class="right menu">
                <a class="item" href="/logout">Logout</a>
            </div>
            {{ else }}
            <div class="right menu">
                <a class="item account" href="/login">Login</a>
            </div>
            {{ end }}
        </div>
    </body>
</html>
