<script>
    var WS_ID = "{{ .ws_id }}";
</script>
<script src="/js/update.js"></script>
<div class="query-container ui container" style="margin-left: 10%; margin-right: 10%">
    <div class="ui one column centered grid">
        <div class="column">
            <div align="center">
                <p id="query-results"></p>
                <br>
                
            </div>
            <div style="margin: 0 15%">
                <div id="progress-bar" class="ui active progress">
                    <div id="bar" class="bar" style="width: 0%;">
                        <div id="progress-label" class="progress">0%</div>
                    </div>
                    <div class="label">Progress</div>
                </div>
            </div>
            <br>

            {{ range $index, $obj := .files }}
            <table class="codeview codeview-{{$index}}">
                {{ range $line, $code := $obj }}
                <tr>
                    <td class="number" width="30px">&nbsp;{{ $line }}&nbsp;</td>
                    <td class="inline">&nbsp;{{ $code }}</td>
                </tr>
                {{ end }}
            </table>
            <br>
            {{ end }}
        </div>
    </div>
</div>
