<div class="query-container ui container" style="margin-left: 10%; margin-right: 10%">
    <div class="ui one column centered grid">
        <div class="column">
            <div align="center">
                <h1 class="query-results">Query Results</h1>
            </div>
        </div>
    </div>
</div>